<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <div class="card" style="width: 18rem; height: 22rem">
        <%= image_tag('users.jpeg', class: "card-img-top", style: "height: 194px")%>
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <p class="card-text">See the list of all users</p>
          <%= link_to "click here", users_path%>
        </div>
      </div>
    </div>
    <div class="col-md-3 offset-md-2">
      <div class="card" style="width: 18rem; height: 22rem">
        <%= image_tag('location.jpeg', class: "card-img-top", style: "height: 194px")%>
        <div class="card-body">
          <h5 class="card-title">Share Location</h5>
          <p class="card-text">Share your favourite locations with other users or publically</p>
          <%= link_to "click here", new_user_location_path(@user)%>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <div class="card" style="width: 18rem; height: 22rem">
        <%= image_tag('location.jpeg', class: "card-img-top", style: "height: 194px")%>
        <div class="card-body">
          <h5 class="card-title">Shared Location</h5>
          <p class="card-text">Locations that other users have shared with you</p>
          <%= link_to "click here", shared_by_others_user_path(@user)%>
        </div>
      </div>
    </div>
    <div class="col-md-3 offset-md-2">
      <div class="card" style="width: 18rem; height: 22rem">
        <%= image_tag('location.jpeg', class: "card-img-top", style: "height: 194px")%>
        <div class="card-body">
          <h5 class="card-title">Your shared locations</h5>
          <p class="card-text">Locations that you have shared with other users or publically</p>
          <%= link_to "click here", user_locations_path(@user)%>
        </div>
      </div>
    </div>
  </div>
</div>
